<%= render partial: 'navigation' %>

<div class="home-page-wrapper">
  <div class="front-page-xl-title">obstacle</div>
  <div><span>noun</span> <span> ​/ˈɒbstək(ə)l/</span></div>
  <div class="definition">something that blocks your way so that movement or progress is prevented or made more difficult*</div>

  <footer>Definition of “obstacle” from the <a src="https://dictionary.cambridge.org/dictionary/english/obstacle">Cambridge Academic Content Dictionary</a> © Cambridge University Press
  </footer>
</div>