    <%= render partial: 'navigation' %>

    <div class="cards-wrapper">
        <div class="cards-content">

          <div class="card">
             <div class="card-status wip">Work in Progress</div>
            <div class="card-header">

              <div class="card-title wip-text">I'm a woman in tech</div>
            </div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="card-title wip-txt">I'm a woman in tech</div>
            </div>
            <div class="card-status wip">Work in Progress</div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>

                    <div class="card">
             <div class="card-status kd">Work in Progress</div>
            <div class="card-header">

              <div class="card-title kd-text">I'm a woman in tech</div>
            </div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="card-title kd-text">I'm a woman in tech</div>
            </div>
            <div class="card-status kd">Work in Progress</div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>

                    <div class="card">
             <div class="card-status omr">Work in Progress</div>
            <div class="card-header">

              <div class="card-title omr-text">I'm a woman in tech</div>
            </div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="card-title omr-text">I'm a woman in tech</div>
            </div>
            <div class="card-status omr">Work in Progress</div>
            <div class="card-body">
              <div class="short-desc">
                <p>Few companies stand up for equality. Lack of female role models in technology: 'You can't be what you can't see'...</p>
              </div>
            </div>
          </div>
        </div>
    </div>