    <%= render partial: 'navigation' %>
    <%= render partial: 'obstacle_status_bar' %>
    <div class="article-wrapper">

      <div class='article-content'>
        <div class="article-title">I'm a woman in tech</div>

          <div class="article-subheading">Why is this a challenge?</div>
          <div class="obst-desc">
              <p>Few companies stand up for equality.</p>
              <p>Lack of female role models in technology: 'You can't be what you can't see'.</p>
              <p>Large barriers to entry.</p>
              <p>Prejudice - have to fight stereotypes.</p>
              <p>Women make up for 1 out of 4 technology jobs and  they only keep 21% of the executive roles that exist.</p>
              <p>Uneven race: have to keep up running the family. While my maile counterparts run ahead I spend my time doing homework and changing soiled dipers.</p>
              <p>Unequal salaries with respect to their colleagues, despite having the same skills.</p>
          </div>

          <div class="article-subheading">How can I overcome and profit from this chllenge?</div>
          <div class="obst-desc">
          <p><strong>The resistance is on our side!</strong></p>
          <p>There is at least one wonderful, powerful woman (or man) supporting women in tech.</p>
          <p>I am moving forward: one code, one book, one skill at the time.</p>
          <p>I take charge of their careers - there are forums and organisations that are endorsing women in tech - let's knock on their door!</p>
          <p>I seek for mentors</p>
          <p>I network more - (Aaaaa - another obsacle to knock down - I am as shy/afraid of ppl as heck!).</p>
          <p>While on track, I avoid typical pitfalls: denying self-promotion, falling into the loyalty trap, or needlessly staying on course in a conflict or negotiation.</p>
          <p><strong>Tech companies want to hire women</strong></p>
          <p>A lot of companies in technology are trying to hire more women and retain more women. Once you are working somewhere you now have a platform to get your voice heard.</p>
          <p><strong>Motivation</strong></p>
          <p>Motivation is derived from men and other women questioning your career path in tech, which can motivate women to succeed even more.</p>
          </div>
      </div>
    </div>
