<div class="navbar">
  <div class="navbar-link navbar-sitename">
    OBSTACLE LIST
  </div>
  <div class="navbar-link navbar-link-toggle">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="navbar-items ni-right">
    <div class="navbar-link">
      <i class="fas fa-home"></i>
    </div>
    <div class="navbar-link">
      <%# <%= embedded_svg "svg/show_all.svg" %>
      SHOW ALL
    </div>
    <div class="navbar-link">
      <%# <%= embedded_svg "svg/radar.svg" %>
      ON MY RADAR
    </div>
    <div class="navbar-link">
      <%# <%= embedded_svg "svg/work_in_progress.svg" %>
      WORK IN PROGRESS
    </div>
    <div class="navbar-link">
      <%# <%= embedded_svg "svg/knocked_down.svg" %>
      KNOCKED DOWN!
    </div>
  </nav>
</div>

<%# TODO figure out how svg styling bug %>
<%# TODO figure out "navbar-sitename" styling bug - not in line with other navbar-links %>
